#btnCep{
    width: 25% !important;
}
#btnEnd{
    width: 50% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
#btnNum{
    width: 10% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
#btnEst{
    width: 10% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;}
#btnCom{
    width: 25% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
#btnBai{
    width: 35% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
#btnCid{
    width: 10% !important;
    display: inline !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;}

.alinhamento{
    margin-left: 1rem !important;
}
.dis{
    display: block !important;
    margin-left: 1.5rem;
}
.dist{
    display: flex;
}
.forma{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem !important;
    margin-bottom: 4rem !important;
}
.bloco{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: auto;
}
.sep{
    margin-top: 1rem;
}